@layer components {
  .dropdown {
    @apply relative ml-3;

    .dropdown-menu {
      @apply absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;

      .dropdown-menu-item {
        @apply cursor-pointer block p-2 text-sm text-gray-700 hover:bg-gray-50 rounded;

        &.active {
          @apply bg-gray-100;
        }
      }
    }

    &.flyout {
      .dropdown-menu {
        width: 300px;
      }

      .content {
        overflow-y: auto;
        max-height: calc(60vh);
      }
    }
  }
}