<div class="flex w-full flex-col justify-center mt-6 sm:max-w-[480px] mx-auto">
  <h1 class="text-3xl font-semi-bold tracking-tight text-gray-900 mb-10">
    <%= t('.title') %>
  </h1>

  <%= render 'user_invitations/form', user: @user, url: user_invitation_path(token: params[:token]),
                id: dom_id(@user, :invite) %> 
</div>