<div class="flex items-center rounded w-full h-16">
  <%= link_to edit_admin_path(agency),
          class: "btn btn-primary h-12 mx-auto w-full flex items-center justify-center text-base" do %>
    <%= agency.name %>
  <% end %>
</div>