<header class="fixed top-14 pt-6 pb-6 bg-tp-white inset-x-0">
  <div class="px-4 mx-auto container flex">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">
      <%= t('.title') %>
    </h1>

    <%= link_to t(".new_enterprise"), new_admin_path, class: 'btn btn-secondary ml-auto' %>
  </div>
</header>

<div class="bg-tp-soft-gray grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 rounded mt-20 w-full p-2">
  <%= render partial: "admin/enterprise", collection: @enterprises, as: :enterprise %>
</div>