<table class="table">
  <thead class='table-head'>
    <tr>
      <% delivery_headers(@current_enterprise).each do |header| %>
        <th scope="col" class="min-w-[100px] sticky top-0"><%= t(".#{header}") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="table-body">
      <%= render partial: 'table_row', collection: deliveries, as: :delivery %>
  </tbody>
</table>
