<header class="fixed top-14 pt-6 pb-6 bg-tp-white inset-x-0">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 px-4 mx-auto container">
    <%= t('.title') %>
  </h1>
</header>

<div class="bg-tp-soft-gray grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 rounded mt-20 w-full p-2">
  <%= render @agencies %>
</div>
