@import "tailwind/alert.css";
@import "tailwind/button.css";
@import "tailwind/dropdown.css";
@import "tailwind/input.css";
@import "tailwind/modal.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  input[type='checkbox'] {
    @apply text-tp-sky-blue rounded;
  
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .link {
    @apply text-tp-deep-sea-blue;

    &:hover, &:visited, &:focus {
      @apply text-tp-sky-blue;
    }
  }

  .nav-link {
    @apply flex flex-col gap-1 items-center text-gray-400 text-xs;

    &:hover {
      @apply text-tp-deep-sea-blue;
    }

    &.active {
      @apply text-tp-sky-blue;
    }
  }

  .sub-nav-link {
    @apply inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-tp-deep-sea-blue hover:text-tp-deep-sea-blue;

    &.active {
      @apply border-tp-sky-blue text-tp-deep-sea-blue;
    }
  }

  .scrollable-table {
    max-height: calc(100vh - 240px);
    
    @media (min-width: 640px) {
      max-height: calc(100vh - 205px);
    }
  }

  #branches .scrollable-table, #users .scrollable-table {
    max-height: calc(100vh - 295px);
  }

  .table {
    @apply min-w-full divide-y divide-gray-300;

    .table-head {
      @apply bg-gray-100;
    }

    .table-head th {
      @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900 bg-gray-100 truncate;

      max-width: 200px;
    }

    .table-body {
      @apply divide-y divide-gray-200 bg-white;
    }

    .table-body td {
      @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500 truncate align-baseline;

      max-width: 200px;

      .link {
        position: unset;
      }
    }
  }
}
